<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">

  <div class="w3-center"><%= image_tag "logo_jas.png"%></div>
  <h1>Jaworznicki Alarm Smogowy</h1>

    <p>Zrzeszamy osoby którym zależy na czystym powietrzu w naszym mieście. Skupiamy się na informowaniu, edukacji oraz zachęcamy do podejmowania działań mających efekt ekologiczny. Zapraszamy do współpracy wszystkich mieszkańców Jaworzna.</p>
    <p>Jesteśmy członkiem <a href="https://polskialarmsmogowy.pl/">Polskiego Alarmu Smogowego</a>.</p>

    <p><a href="mailto:kontakt@jaworznobezsmogu.pl">kontakt@jaworznobezsmogu.pl</a></p>

  <br>
  <br>
  <br>
  <br>
</div>
</div>
