<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">

    <%= image_tag "deadline2.png" %>
    <br><br>

    <p>Od ubiegłego roku na terenie Jaworzna obowiązuje tzw. "uchwała antysmogowa" (<a href="http://bip.slaskie.pl/dokumenty/2017/04/10/1491823372.pdf">Uchwała Sejmiku Wojewódzkiego Nr V/36/1/2017 z dnia 7 kwietnia 2017 r.</a>)</p>
    <p>Zgodnie z jej zapisami:</p>
    <ul>
      <li><b>Od 1 września 2017 </b>nie wolno palić <b>flotem, mułem, węglem brunatnym</b> ani drewnem i biomasą o wilgotności powyżej 20%.</li>
      <li><b>Od 1 września 2017 r.</b> wszystkie nowo instalowane kotły na paliwo stałe (węgiel lub pellet) <b>muszą spełniać klasę 5</b> (posiadać certyfikat wydany zgodnie z normą PN-EN 303-5:2012) lub spełniać wymogi ekoprojektu (zgodnie z rozporządzeniem Komisji Europejskiej).</li>
      <li><b>Do końca 2021 r. konieczna będzie wymiana kotłów na węgiel lub drewno</b>, które nie spełniają żadnych norm emisyjnych i są starsze niż 10 lat lub nie mają tabliczki znamionowej – tych urządzeń w Jaworznie niestety jest najwięcej.</li>
      <li><b>W kolejnych latach </b>konieczna będzie wymiana kolejnych kotłów, również tych spełniających podstawowe wymagania emisyjne. <b>Do końca 2027 r. kotły we wszystkich jaworznickich domach </b>muszą spełniać klasę 5 (posiadać certyfikat wydany zgodnie z normą PN-EN 303-5:2012) lub spełniać wymogi ekoprojektu.</li>
    </ul>
  </div>
</div>
