<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">

    <h1>Widget dla jaw.pl</h1>

    <iframe src="http://www.jaworznobezsmogu.pl/widgets/jawpl" style="width: 320px; height: 640px; border: 0px;"></iframe>

    <p>Aby skorzystać z widgetu wklej poniższy kod HTML do szablonu strony. Właściwości (wysokość i szerokość) można parametryzować.</p>
    <p>Nagłówek komponentu jest klikalny (odsłania drugi panel).</p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p>
        &lt;iframe src="http://www.jaworznobezsmogu.pl/widgets/jawpl" style="width: 320px; height: 590px; border: 0px;"&gt; &lt;/iframe&gt;
      </p>
    </div>

  </div>
</div>
