<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">

  <h1>Przerwa techniczna</h1>
  <h2>Do chwili ponownego uruchomienia serwisu zapraszamy na <a href="https://map.airly.eu/pl/#latitude=50.20320&longitude=19.27548&id=1022">mapę Airly.</a></h2>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
</div>
