<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">

    <h1>Widgety na stronę, v1</h1>
    <div class="w3-row">
      <div class="w3-col l5">
        <iframe src="http://www.jaworznobezsmogu.pl/widgets/air_quality" style="width: 320px; height: 640px; border: 0px;"></iframe>

      </div>
      <div class="w3-col l7">
        <p>Nagłówek komponentu jest klikalny (odsłania drugi panel).</p>

        <p>Aby umieścić widget na swojej stronie wklej poniższy kod HTML do szablonu <a href="mailto:kontakt@jaworznobezsmogu.pl">i koniecznie daj nam znać</a>. Właściwości (wysokość i szerokość) można parametryzować.</p>
        <div class="w3-panel w3-leftbar w3-light-grey">
          <p>
            &lt;iframe src="http://www.jaworznobezsmogu.pl/widgets/air_quality" style="width: 320px; height: 590px; border: 0px;"&gt; &lt;/iframe&gt;
          </p>
        </div>
      </div>
    </div>


  </div>
</div>
