<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">

  <h1>Listopad 2017 - odczyty Miejskiej Biblioteki Publicznej</h1>

<h3>Średniodobowe stężenia PM10</h3>
<canvas id="pm10_november" width="400" height="200"></canvas>
<h3>Ilość dni z przekroczoną normą dobową: <span id="countDays10"></span></h3>


<br>
<hr>
<h3>Średniodobowe stężenia PM2.5</h3>
<canvas id="pm25_november" width="400" height="200"></canvas>
<h3>Ilość dni z przekroczoną normą dobową: <span id="countDays25"></span></h3>
<script>
// $(document).on('turbolinks:load', function() {

  let data2 = [10.49,8.44,13.25,25.06,16.71,30.08,23.47,17.72,55.66,36.29,15.02,27.53,43.38,36.57,107.35,72.91,64.14,40.66,19.37,24.20,44.27,67.68,55.54,64.24,61.85,43.00,84.58,50.11,58.61];
  pm25_report("pm25_november", 31, data2);
  document.getElementById("countDays25").innerHTML = data2.filter(x=> x > 25).length ;

  let data = [10.79, 8.67, 13.81, 26.58, 17.62, 32.10, 24.97, 18.72, 62.39, 38.98, 15.73, 29.74, 46.99, 39.50, 124.23, 82.80, 71.28, 43.80, 20.54, 26.04, 48.42, 75.88, 61.45, 71.52, 69.18, 48.52, 96.99, 55.93, 64.76];
  pm10_report("pm10_november", 31, data);
  document.getElementById("countDays10").innerHTML = data.filter(x=> x > 50).length ;

// });

</script>


</div>
</div>
