<script>

live2(
  "jaworzno", [1, 2, 3],
  "jelen", [6, 6, 6],
  "byczyna", [7, 7, 7]
)
</script>


<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <h1>Program Ograniczania Niskiej Emisji, styczeń 2018:</h1>
    <br>
  <%= image_tag "pone.png" %>
  <br><br>
  <h2>Źródła:</h2>

  <table class="w3-table w3-striped w3-card-4 w3-row">
    <tr>
      <td>Dąbrowa Górnicza</td>
      <td><a href="http://www.bip.dabrowa-gornicza.pl/BIP.aspx?Sel=5886&ident=80310">http://www.bip.dabrowa-gornicza.pl/BIP.aspx?Sel=5886&ident=80310</a></td>
    </tr>
    <tr>
      <td>Gmina Psary</td>
      <td><a href="http://www.psary.pl/aktualnosc/dodatkowy-nabor-na-wymaine-piecow-gazowych.html">http://www.psary.pl/aktualnosc/dodatkowy-nabor-na-wymaine-piecow...</a></td>
    </tr>
    <tr>
      <td>Sosnowiec</td>
      <td><a href="http://bip.um.sosnowiec.pl/Article/get/id,527959.html">http://bip.um.sosnowiec.pl/Article/get/id,527959.html</a></td>
    </tr>
    <tr>
      <td>Katowice</td>
      <td><a href="https://www.sekap.pl/katalog.seam?cid=31295">https://www.sekap.pl/katalog.seam?cid=31295</a></td>
    </tr>
    <tr>
      <td>Tychy</td>
      <td><a href="http://umtychy.pl/artykul/4748/pone-nowe-mozliwosci-i-warunki-dofinansowania-z-urzedu-miasta-tychy">http://umtychy.pl/artykul/4748/pone-nowe-mozliwosci-i-warunki-dofinan...</a></td>
    </tr>
    <tr>
      <td>Zabrze</td>
      <td><a href="http://www.um.zabrze.pl/mieszkancy/ekologia/program-ograniczania-niskiej-emisji-w-miescie-zabrze">http://www.um.zabrze.pl/mieszkancy/ekologia/program-ograniczania-n...</a></td>
    </tr>
    <tr>
      <td>Gliwice</td>
      <td><a href="https://bip.gliwice.eu/strona=10509,4030">https://bip.gliwice.eu/strona=10509,4030"</a></td>
    </tr>
    <tr>
      <td>Będzin</td>
      <td><a href="http://dzienniki.slask.eu/GetActPdf.ashx?year=2017&book=0&position=2397">http://dzienniki.slask.eu/GetActPdf.ashx?year=2017&book=0&position=2397</a></td>
    </tr>
    <tr>
      <td>Czeladź</td>
      <td><a href="http://bip.czeladz.pl/ochrona_srodowiska/Zmiana_sposobu_ogrzewania_-_dotacja.html">http://bip.czeladz.pl/ochrona_srodowiska/Zmiana_sposobu_ogrzewania_-_dotacja.html</a></td>
    </tr>
    <tr>
      <td>Wodzisław Śląski</td>
      <td><a href="https://wodzislaw-slaski.pl/_files/articles/aktualnosci/2017/luty%202017/Regulamin%20dofinansowania%20do%20zadania%20pn.%20Wymiana%20źródeł%20ciepła%20na%20nowe%20niskoemisyjne%20i%20montac%20OZE%20w%20latach%202017-2018%20w%20budynkach%20indywidualnych%20na%20terenie%20Gminy%20Wodzisłąw%20Śląski.pdf">https://wodzislaw-slaski.pl/_files/articles/aktualnosci/2017/luty%202017/Regulamin%20dofin...</a></td>
    </tr>
    <tr>
      <td>Mysłowice</td>
      <td><a href="http://myslowice.pl/page/1116,aktualnosci.html?id=2824">http://myslowice.pl/page/1116,aktualnosci.html?id=2824</a></td>
    </tr>
    <tr>
      <td>Rybnik</td>
      <td><a href="https://www.rybnik.eu/mieszkaj/walka-ze-smogiem/dotacje/">https://www.rybnik.eu/mieszkaj/walka-ze-smogiem/dotacje/</a></td>
    </tr>
    <tr>
      <td>Chrzanów</td>
      <td><a href="http://www.chrzanow.pl/aktualnosci/informacje/2017-02-22-nabor-wnioskow-na-dofinansowanie-zmiany-systemu-ogrzewania-uzytkowanych-obiektow.html">http://www.chrzanow.pl/aktualnosci/informacje/2017-02-22-nabor-wnioskow-na-dofi...</a></td>
    </tr>
    <tr>
      <td>Jaworzno</td>
      <td><a href="http://bip.jaworzno.pl/Article/get/id,21669.html">http://bip.jaworzno.pl/Article/get/id,21669.html</a></td>
    </tr>
  </table>

</div>
</div>
