/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 * require jquery.countdown
 */

 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: "Lato", sans-serif;
 }
/* body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
} */


 .w3-bar,
 button,
 h1 {
   font-family: "Montserrat", sans-serif;
 }
 .fa-anchor,
 .fa-coffee {
   font-size: 200px;
 }

 .hand {
   cursor: pointer;
 }

 table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

p, li {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.60;
  color: #424949;
  opacity: 0.80;
  margin-top: 0;
  margin-bottom: 25px;
  letter-spacing: -0.30px;
  word-spacing: -0.10px;
  text-transform: none;
}

@media only screen and (max-width: 600px) {

    img {
      width: 100%; height: 100%; margin: 0; padding; 0;
    }
}

#logo {
  position: absolute;
  top: 100px;
  left: 20px;
}

#logo2 {
  position: absolute;
  top: 160px;
  right: 20px;
}

footer {
  /* position: absolute;
  width: 100vw;
  bottom: 0px; */

  /* position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem; */
}
 /*#header {

   background-image: url("../assets/drwal2.jpg");

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;


    color: white;
 }*/

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.wrapper {
  min-height: 90vh;
}
